.carousel-container {
    width: 100%;
    height: 100vh; /* Ekran balandligini to'liq egallash */
    overflow: hidden; /* Keraksiz skrollni yo'q qilish */
}

.carousel-image {
    width: 100%; /* Ekranning butun eni */
    height: 100%; /* Ekranning butun bo'yi */
    object-fit: cover; /* Rasmni proportsiyalarini saqlagan holda ekranga sig'dirish */
}
